body {
	font-family: 'Montserrat', sans-serif;
}

/* override boostrap styles */
.bg-dark {
	background-color: #1a1a1a !important;
}

.navbar-brand {
	width: 260px;
}

.navbar-nav .nav-link {
  padding: 1em;
  font-size: 1.3em;
  margin: 0em 1em !important;
	color: white !important;
}

.navbar-nav a.active {
	background: url('/assets/images/active_nav.png') 50% 100% no-repeat;
	color: #f7931e !important;
}

@media (max-width: 786px) {
	.navbar-nav a.active {
		background: url(/assets/images/active_nav.png) -0% 40% no-repeat;
    padding-left: 20px;
	}
}

.hero-text {
  background-color: rgba(15,15,15,0.5) !important;
	position: absolute;
	bottom: 0px;
	color: white;
	width: 100%;
	text-shadow: 1px 1px 2px black;
}

@media (max-width: 1024px) {
	.hero-text {
		background-color: #1a1a1a !important;
		position: static;
		bottom: 0px;
		color: white;
		width: 100%
	}
}

.orange-text {
	color: #f7931e;
	fill: #f7931e;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	background-color:transparent;
	border:1px solid #f7931e;
	border-radius:100%;
}

.carousel-indicators li.active {
	background-color: #f7931e;
}


.footer .item {
	width: 14em;
	display: block;
	margin: 3em auto;
	margin-bottom:5em;
	color:white;
	text-align: center;
}

.footer .item .orange-text {
	font-size: 11px;
}

.footer .item .icon {
	width: 34%;
	display: block;
	margin: 2.5em auto;
}

.arrow {
	height: 0.8em;
	fill: inherit;
}

.snake-card .inner{
	padding: 0px;
  box-shadow: inset 0 0 8px #aaa;
}

.snake-card .footer {
	background: #f7931e;
	padding: 0.5em;
	color:white;
	font-weight:bold;
	font-size: 2em;	margin: 0px;
	fill: white;
}

.snake-card .footer .arrow {
	position: relative;
	top: 0.3em;
}
